main{
    width: 100%;
    display: flex;
}
 /* ZONE DE GAUCHE */
 .left{
    background-color: orangered;
    height: 50vh;
    width: 25%;
    color: white;
    margin-right: 3%;
}
img{ 
    border-radius: 50%;
    padding-top: 10px;
}
.profinfo{
    text-align: center;
}
.fonct{
    font-size: 0.7em;
    color: rgb(148, 31, 54);
}
.atout{
    text-align: center;
    color: white;
    border: 2px solid rgb(148, 31, 54);
}
ul li{
    list-style-type: none;
}
.an{
    color: rgb(51, 24, 29);
    font-size: .8em;
}

/* ZONE DE DROITE */
.left{
    width: 50%;
    margin-right: 3%;
    height:130vh;
    border-radius: 10px;
}
.but{
    color: orchid;
}
.but + .ci li{
    display: inline;
    padding: 15px;
}

/*Responsive Styles*/

@media (max-width: 1000px){
   
    main{
        display: block;
        flex-direction: column;
    }
    /* ZONE DE GAUCHE */
    .left{
       background-color: green;
       height: 50vh;
       width: 25%;
       color: white;
       margin-right: 3%;
   }
   img{ 
       border-radius: 50%;
       padding-top: 10px;
   }
   .profinfo{
       text-align: center;
   }
   .fonct{
       font-size: 0.7em;
       color: rgb(148, 31, 54);
   }
   .atout{
       text-align: center;
       color: white;
       border: 2px solid rgb(148, 31, 54);
   }
   ul li{
       list-style-type: none;
   }
   .an{
       color: rgb(51, 24, 29);
       font-size: .8em;
   }
   
   /* ZONE DE DROITE */
  
   .left{
       width: 50%;
       margin-right: 3%;
       height:130vh;
       border-radius: 10px;
   }
   .but{
       color: orchid;
   }
   .but + .ci li{
       display: inline;
       padding: 15px;
   }
   
}

@media (max-width: 600px){
   main{
       display: block;
       flex-direction: column-reverse;
   }
    /* ZONE DE GAUCHE */
    .left{
       background-color: purple;
       height: 200%;
       width: 25%;
       color: white;
       margin-right: 3%;
   }
   img{ 
       border-radius: 50%;
       padding-top: 10px;
   }
   .profinfo{
       text-align: center;
   }
   .fonct{
       font-size: .4em;
       color: rgb(148, 31, 54);
   }
   .atout{
       text-align: center;
       color: white;
       border: 2px solid rgb(148, 31, 54);
   }
   ul li{
       list-style-type: none;
   }
   .an{
       color: rgb(51, 24, 29);
       font-size: .8em;
   }
   
   /* ZONE DE DROITE */
   .left{
       width: 50%;
       margin-right: 3%;
       height:130vh;
       border-radius: 10px;
   }
   .but{
       color: orchid;
   }
   .but + .ci li{
       display: block;
       padding: 15px;
   }
   
}